Vérifier le contenu de la réponse

In [41]:
import requests

# URL de l'API
url = "https://api.meteo-concept.com/api/forecast/daily?token=ab1fbb7d149618b5fd349b55f364b7047281678cf2cf2ac759ff2d8d9921f21a&insee=35238"

# Envoyer une requête HTTP pour récupérer les données
response = requests.get(url)

# Vérifier si la requête a réussi
if response.status_code == 200:
    # Imprimer le type de contenu et le contenu lui-même
    print("Content-Type:", response.headers['Content-Type'])
    print("Response [200]")
else:
    print(f"Failed to retrieve data: {response.status_code}")

Content-Type: application/json
Response [200]

*Adapter le traitement des données*

In [42]:
import pandas as pd

df = None
if 'application/json' in response.headers['Content-Type']:
    # Parser les données JSON
    data = response.json()

    # Extraire les informations pertinentes et les mettre dans un DataFrame
    forecasts = data.get('forecast', [])
    df = pd.DataFrame(forecasts)
else:
    print("Unexpected content type:", response.headers['Content-Type'])

In [43]:
df

,insee,cp,latitude,longitude,day,datetime,wind10m,gust10m,dirwind10m,rr10,...,weather,tmin,tmax,sun_hours,etp,probafrost,probafog,probawind70,probawind100,gustx
0,35238,35000,48.112,-1.6819,0,2024-05-26T02:00:00+0200,15,46,239,0.1,...,40,12,18,4,3,0,20,0,0,46
1,35238,35000,48.112,-1.6819,1,2024-05-27T02:00:00+0200,15,42,249,0.6,...,40,10,17,4,2,0,20,0,0,51
2,35238,35000,48.112,-1.6819,2,2024-05-28T02:00:00+0200,20,34,230,1.5,...,40,11,19,3,2,0,0,0,0,38
3,35238,35000,48.112,-1.6819,3,2024-05-29T02:00:00+0200,20,35,280,1.7,...,40,13,19,3,3,0,0,0,0,47
4,35238,35000,48.112,-1.6819,4,2024-05-30T02:00:00+0200,15,29,316,3.6,...,41,11,16,6,3,0,0,0,0,43
5,35238,35000,48.112,-1.6819,5,2024-05-31T02:00:00+0200,15,26,326,2.4,...,41,9,16,8,3,0,0,0,0,41
6,35238,35000,48.112,-1.6819,6,2024-06-01T02:00:00+0200,15,23,333,3.2,...,40,9,16,8,3,0,0,0,0,38
7,35238,35000,48.112,-1.6819,7,2024-06-02T02:00:00+0200,15,24,340,3.0,...,41,9,17,8,4,0,0,0,0,39
8,35238,35000,48.112,-1.6819,8,2024-06-03T02:00:00+0200,15,23,351,1.4,...,41,10,18,8,4,0,0,0,0,38
9,35238,35000,48.112,-1.6819,9,2024-06-04T02:00:00+0200,15,21,7,1.4,...,41,10,18,8,4,0,0,0,0,35
10,35238,35000,48.112,-1.6819,10,2024-06-05T02:00:00+0200,15,21,17,0.6,...,40,11,19,8,4,0,20,0,0,31
11,35238,35000,48.112,-1.6819,11,2024-06-06T02:00:00+0200,15,24,31,2.2,...,40,12,19,8,4,0,0,0,0,34
12,35238,35000,48.112,-1.6819,12,2024-06-07T02:00:00+0200,15,21,31,2.4,...,41,12,19,7,4,0,0,0,0,31
13,35238,35000,48.112,-1.6819,13,2024-06-08T02:00:00+0200,15,21,359,3.4,...,40,12,19,8,4,0,0,0,0,31

*Affichage des infos de base*

In [44]:
# Afficher les informations sur les colonnes et les types de données
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 22 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   insee         14 non-null     object
 1   cp            14 non-null     int64
 2   latitude      14 non-null     float64
 3   longitude     14 non-null     float64
 4   day           14 non-null     int64
 5   datetime      14 non-null     object
 6   wind10m       14 non-null     int64
 7   gust10m       14 non-null     int64
 8   dirwind10m    14 non-null     int64
 9   rr10          14 non-null     float64
 10  rr1           14 non-null     float64
 11  probarain     14 non-null     int64
 12  weather       14 non-null     int64
 13  tmin          14 non-null     int64
 14  tmax          14 non-null     int64
 15  sun_hours     14 non-null     int64
 16  etp           14 non-null     int64
 17  probafrost    14 non-null     int64
 18  probafog      14 non-null     int64
 19  probawind70   14 non-null     int64
 20  probawind100  14 non-null     int64
 21  gustx         14 non-null     int64
dtypes: float64(4), int64(16), object(2)
memory usage: 2.5+ KB

In [45]:
# Afficher les statistiques descriptives
df.describe()

,cp,latitude,longitude,day,wind10m,gust10m,dirwind10m,rr10,rr1,probarain,weather,tmin,tmax,sun_hours,etp,probafrost,probafog,probawind70,probawind100,gustx
count,14.0,14.000,1.400000e+01,14.0000,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000,14.0,14.000000,14.0,14.0,14.000000
mean,35000.0,48.112,-1.681900e+00,6.5000,15.714286,27.857143,222.071429,1.964286,4.957143,57.142857,40.428571,10.785714,17.857143,6.500000,3.357143,0.0,4.285714,0.0,0.0,38.785714
std,0.0,0.000,4.608532e-16,4.1833,1.815683,8.263517,137.830701,1.105655,4.162417,6.112498,0.513553,1.311404,1.231456,2.066212,0.744946,0.0,8.516306,0.0,0.0,6.277905
min,35000.0,48.112,-1.681900e+00,0.0000,15.000000,21.000000,7.000000,0.100000,0.100000,40.000000,40.000000,9.000000,16.000000,3.000000,2.000000,0.0,0.000000,0.0,0.0,31.000000
25%,35000.0,48.112,-1.681900e+00,3.2500,15.000000,21.500000,80.750000,1.400000,1.625000,60.000000,40.000000,10.000000,17.000000,4.500000,3.000000,0.0,0.000000,0.0,0.0,34.250000
50%,35000.0,48.112,-1.681900e+00,6.5000,15.000000,24.000000,264.500000,1.950000,4.300000,60.000000,40.000000,11.000000,18.000000,8.000000,3.500000,0.0,0.000000,0.0,0.0,38.000000
75%,35000.0,48.112,-1.681900e+00,9.7500,15.000000,32.750000,331.250000,2.850000,7.350000,60.000000,41.000000,12.000000,19.000000,8.000000,4.000000,0.0,0.000000,0.0,0.0,42.500000
max,35000.0,48.112,-1.681900e+00,13.0000,20.000000,46.000000,359.000000,3.600000,15.000000,60.000000,41.000000,13.000000,19.000000,8.000000,4.000000,0.0,20.000000,0.0,0.0,51.000000

*Filtrage des données*

In [51]:
# Convertir la colonne 'datetime' en datetime si elle n'est pas déjà convertie
if not pd.api.types.is_datetime64_any_dtype(df['datetime']):
    df['datetime'] = pd.to_datetime(df['datetime'])

# Convertir aujourd'hui en un objet "tz-aware"
today = pd.Timestamp.today().tz_localize('UTC')  # Définir le fuseau horaire à UTC

# Calculer la date de la semaine prochaine
next_week = today + pd.Timedelta(days=7)

# Filtrer les prévisions pour les prochains 7 jours
filtered_df = df[(df['datetime'] >= today) & (df['datetime'] <= next_week)]

In [52]:
filtered_df

,insee,cp,latitude,longitude,day,datetime,wind10m,gust10m,dirwind10m,rr10,...,weather,tmin,tmax,sun_hours,etp,probafrost,probafog,probawind70,probawind100,gustx
1,35238,35000,48.112,-1.6819,1,2024-05-27 02:00:00+02:00,15,42,249,0.6,...,40,10,17,4,2,0,20,0,0,51
2,35238,35000,48.112,-1.6819,2,2024-05-28 02:00:00+02:00,20,34,230,1.5,...,40,11,19,3,2,0,0,0,0,38
3,35238,35000,48.112,-1.6819,3,2024-05-29 02:00:00+02:00,20,35,280,1.7,...,40,13,19,3,3,0,0,0,0,47
4,35238,35000,48.112,-1.6819,4,2024-05-30 02:00:00+02:00,15,29,316,3.6,...,41,11,16,6,3,0,0,0,0,43
5,35238,35000,48.112,-1.6819,5,2024-05-31 02:00:00+02:00,15,26,326,2.4,...,41,9,16,8,3,0,0,0,0,41
6,35238,35000,48.112,-1.6819,6,2024-06-01 02:00:00+02:00,15,23,333,3.2,...,40,9,16,8,3,0,0,0,0,38
7,35238,35000,48.112,-1.6819,7,2024-06-02 02:00:00+02:00,15,24,340,3.0,...,41,9,17,8,4,0,0,0,0,39

*Suppression des colonnes inutiles*

In [53]:
# Liste des colonnes à supprimer
colonnes_inutiles = ['insee', 'cp', 'latitude', 'longitude', 'probafrost', 'probafog', 'probawind70', 'probawind100', 'gustx']

# Supprimer les colonnes inutiles
filtered_df.drop(colonnes_inutiles, axis=1, inplace=True)

C:\Users\luis\AppData\Local\Temp\ipykernel_25888\1956643930.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df.drop(colonnes_inutiles, axis=1, inplace=True)

In [54]:
filtered_df

,day,datetime,wind10m,gust10m,dirwind10m,rr10,rr1,probarain,weather,tmin,tmax,sun_hours,etp
1,1,2024-05-27 02:00:00+02:00,15,42,249,0.6,0.6,60,40,10,17,4,2
2,2,2024-05-28 02:00:00+02:00,20,34,230,1.5,1.5,50,40,11,19,3,2
3,3,2024-05-29 02:00:00+02:00,20,35,280,1.7,2.0,50,40,13,19,3,3
4,4,2024-05-30 02:00:00+02:00,15,29,316,3.6,15.0,60,41,11,16,6,3
5,5,2024-05-31 02:00:00+02:00,15,26,326,2.4,6.2,60,41,9,16,8,3
6,6,2024-06-01 02:00:00+02:00,15,23,333,3.2,7.2,60,40,9,16,8,3
7,7,2024-06-02 02:00:00+02:00,15,24,340,3.0,9.0,60,41,9,17,8,4

In [55]:
filtered_df['datetime'] = filtered_df['datetime'].dt.date

C:\Users\luis\AppData\Local\Temp\ipykernel_25888\1157601295.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['datetime'] = filtered_df['datetime'].dt.date

In [56]:
filtered_df

,day,datetime,wind10m,gust10m,dirwind10m,rr10,rr1,probarain,weather,tmin,tmax,sun_hours,etp
1,1,2024-05-27,15,42,249,0.6,0.6,60,40,10,17,4,2
2,2,2024-05-28,20,34,230,1.5,1.5,50,40,11,19,3,2
3,3,2024-05-29,20,35,280,1.7,2.0,50,40,13,19,3,3
4,4,2024-05-30,15,29,316,3.6,15.0,60,41,11,16,6,3
5,5,2024-05-31,15,26,326,2.4,6.2,60,41,9,16,8,3
6,6,2024-06-01,15,23,333,3.2,7.2,60,40,9,16,8,3
7,7,2024-06-02,15,24,340,3.0,9.0,60,41,9,17,8,4

In [59]:
filtered_df.to_csv('output/test.csv', index=False)