In [58]:
import random
import pandas as pd
import numpy as np
from datetime import datetime

# Générer des dates de décembre 2021 à mars 2024
dates = pd.date_range(start='2021-12-01', end='2024-03-31', freq='D')

In [59]:
# Définir les saisons
saisons = {
    "hiver": {"tmin": 2, "tmax": 9, "probarain": 70, "sun_hours": 2},
    "printemps": {"tmin": 6, "tmax": 16, "probarain": 50, "sun_hours": 6},
    "été": {"tmin": 12, "tmax": 22, "probarain": 30, "sun_hours": 8},
    "automne": {"tmin": 6, "tmax": 15, "probarain": 60, "sun_hours": 4}
}

# Fonction pour obtenir la saison à partir de la date
def get_saison(date):
    if date.month in [12, 1, 2]:
        return "hiver"
    elif date.month in [3, 4, 5]:
        return "printemps"
    elif date.month in [6, 7, 8]:
        return "été"
    else:
        return "automne"

# Fonction pour simuler les données météorologiques pour une date donnée
def simuler_meteo(date):
    saison = get_saison(date)
    valeurs_saison = saisons[saison]
    tmin = np.random.randint(valeurs_saison["tmin"] - 2, valeurs_saison["tmin"] + 2)
    tmax = np.random.randint(valeurs_saison["tmax"] - 2, valeurs_saison["tmax"] + 2)
    probarain = np.random.randint(valeurs_saison["probarain"] - 10, valeurs_saison["probarain"] + 10)
    sun_hours = np.random.randint(valeurs_saison["sun_hours"] - 2, valeurs_saison["sun_hours"] + 2)
    return tmin, tmax, probarain, sun_hours

In [60]:
# Fonction pour simuler les données d'énergie produite par le chauffage cannette
def simuler_energie(date):
    saison = get_saison(date)
    if saison == "hiver":
        return np.random.randint(15, 21)
    elif saison == "printemps":
        return np.random.randint(18, 24)
    elif saison == "été":
        return np.random.randint(20, 26)
    else:
        return np.random.randint(16, 22)

In [61]:
# Simuler les données météorologiques pour chaque date
donnees_meteo = []
for date in dates:
    energie = simuler_energie(date)
    tmin, tmax, probarain, sun_hours = simuler_meteo(date)
    donnees_meteo.append({
        "datetime": date,
        "tmin": tmin,
        "tmax": tmax,
        "probarain": probarain,
        "sun_hours": sun_hours,
        "energie": energie
    })

# Créer un DataFrame à partir des données météorologiques simulées
df_train = pd.DataFrame(donnees_meteo)
# Réinitialiser les index du DataFrame sans conserver l'ancien index
df_train = df_train.reset_index(drop=True)

# Afficher un échantillon des données météorologiques simulées
print("Échantillon des données météorologiques simulées :")

Échantillon des données météorologiques simulées :

In [62]:
df_train

      datetime  tmin  tmax  probarain  sun_hours  energie
0   2021-12-01     2     7         60          1       16
1   2021-12-02     0     7         61          2       19
2   2021-12-03     1     8         70          1       19
3   2021-12-04     2     9         76          1       16
4   2021-12-05     3     7         74          1       16
..         ...   ...   ...        ...        ...      ...
847 2024-03-27     6    16         50          4       22
848 2024-03-28     5    15         59          4       18
849 2024-03-29     5    14         46          5       22
850 2024-03-30     6    17         50          7       23
851 2024-03-31     7    14         58          4       20

[852 rows x 6 columns]

In [63]:
df_train.duplicated(keep=False).sum()

0

In [64]:
df_train['datetime'] = df_train['datetime'].dt.date

In [65]:
df_train

       datetime  tmin  tmax  probarain  sun_hours  energie
0    2021-12-01     2     7         60          1       16
1    2021-12-02     0     7         61          2       19
2    2021-12-03     1     8         70          1       19
3    2021-12-04     2     9         76          1       16
4    2021-12-05     3     7         74          1       16
..          ...   ...   ...        ...        ...      ...
847  2024-03-27     6    16         50          4       22
848  2024-03-28     5    15         59          4       18
849  2024-03-29     5    14         46          5       22
850  2024-03-30     6    17         50          7       23
851  2024-03-31     7    14         58          4       20

[852 rows x 6 columns]

In [67]:
df_train.to_csv('output/train.csv', index=False)